{% extends "base.html" %}

{% block title %}
<h1>Index page</h1>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload an image</h1>
      <hr>

      <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select image</label>
          <div>
            <input type="file" name="image" id="image">
            <label for="image">Select image</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}